/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../src/assets/bgMain.jpg');
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
            
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #009368;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}




/* In your global styles (tailwind.css or your custom CSS file) */
@layer base {
  * {
    caret-color: transparent; /* This removes the blinking caret from all elements */
  }
}

/* Hide the first <p> element in the document */
p:first-of-type {
  display: none;
}





